<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
 
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="../../assets/Recursos/Imagenes/Pastel1.jpg" class="d-block w-100" alt="800" height="600">
     <div class="carousel-caption d-none d-md-block">
        <h5 class="letras">Pastas y pasteles
          De origen francés elaborados artesanalmente por nuestros maestros pasteleros. </h5>
        <a href="#"> <button type="button" class="btn btn-primary" href="#"> Ver Pasteles</button></a>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="../../assets/Recursos/Imagenes/Pastel2.jpg" class="d-block w-100" alt="800" height="600">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="letras"> Tenemos los mejores diseños solicita uno y te lo personalizaremos</h5>
        <a href="#"> <button type="button" class="btn btn-primary" href="#">Ver Pasteles</button></a>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="https://cdn.pixabay.com/photo/2016/11/29/07/45/desserts-1868181_960_720.jpg" class="d-block w-100" alt="800" height="600">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="letras">Somos la gota de dulzura que necesitas en tu vida contactanos</h5>
        <a href="#"><button type="button" class="btn btn-primary"> Ver Pasteles</button></a>
          </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 class="subtitulo">CATEGORÍAS</h2>

<div class="card-group">
  <div class="card">
    <img
      src="../../assets/Recursos/Imagenes/navidad.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">NAVIDAD</h2>
      <p class="card-text">  Bizcochos de especias rellenos de galletas de canela y naranja con diferentes texturas a base de esta deliciosa galleta navideña. 
        Estas tortas realmente saben a Navidad.</p>

    </div>
  </div>
  <div class="card">
    <img src="../../assets/Recursos/Imagenes/Postres.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">POSTRES</h2>
      <p class="card-text">Sablée de almendras y cacao, caramelo de vainilla, ganache 56% , ganache montée de chocolate con leche 33% y cremoso de haba tonka 
        y chocolate con leche caramelizado 40% ideal para disfrutar estos postres en familia</p>

    </div>
  </div>
  <div class="card">
    <img src="../../assets/Recursos/Imagenes/Paquetes.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"> PAQUETES PARA EVENTOS </h2>
      <p class="card-text"> Hemos creado este paquete pensando en eventos como matrimonios civiles, eclesiasticos, compromisos donde recomendamos un mínimo de 12 dulces por persona.
         Si te vas a casar en la playa, donde el matrimonio siempre es más largo te recomendamos que tengas 15 dulces por persona!</p>

    </div>
  </div>
  <div class="card">
    <img src="../../assets/Recursos/Imagenes/Bombones.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"> BOMBONES </h2>
      <p class="card-text">Esta es nuestra version de los rice krispies. Seguro todos lo amábamos de niños y estos te transportaran a tu infancia en un bocado. ales y su impacto en la sociedad.</p>
    </div>
  </div>

</div>

<h2 class="subtitulo">Chef destacados 2022</h2>

<div id = "UltimoContainer">

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://www.animalgourmet.com/wp-content/uploads/2019/08/jessica-prealpato.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Chef</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://www.animalgourmet.com/wp-content/uploads/2019/08/jessica-prealpato.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Patricia Knott</h3>
            <h4 class="title">Chef</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://www.animalgourmet.com/wp-content/uploads/2019/08/jessica-prealpato.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Justin Ramos</h3>
            <h4 class="title">Chef</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://www.animalgourmet.com/wp-content/uploads/2019/08/jessica-prealpato.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Chef</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

</div>
